* {
  bg:        #19120d;
  bg-alt:    #52443b;
  bg-high:   #5b4130;
  fg:        #f0dfd6;
  fg-alt:    #d7c3b7;
  accent:    #ffb785;
  accent2:   #e4bfa8;
  accent3:   #c9ca94;
  on-accent: #502500;
  urgent:    #ffb4ab;
}
