* {
  bg:        #0e1514;
  bg-alt:    #3f4948;
  bg-high:   #324b4b;
  fg:        #dde4e3;
  fg-alt:    #bec8c8;
  accent:    #80d4d5;
  accent2:   #b0cccb;
  accent3:   #b3c8e9;
  on-accent: #003737;
  urgent:    #ffb4ab;
}
