window { background: transparent; }

box {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    border: 1px solid rgba(128, 212, 213, 0.55);
    padding: 16px 24px;
    min-width: 280px;
}

image {
    color: #80d4d5;
    margin-right: 12px;
}

progressbar > trough {
    border-radius: 99px;
    background: rgba(255, 255, 255, 0.1);
}

progressbar > trough > progress {
    border-radius: 99px;
    background: linear-gradient(90deg, rgba(128,212,213,1), rgba(223,194,162,1));
    min-height: 6px;
}

label {
    color: #cdd6f4;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}
